* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
}
@media (max-width: 600px) {
	.portfolio {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: space-around;
		width: auto;
	}
}

h1 {
	position: relative;
	text-align: center;
	font-family: "Helvetica", sans serif;
	padding-top: 20px;
}

h2 {
	font-family: "Helvetica", sans serif;
}
p {
	position: relative;
	font-family: "Helvetica", sans serif;
}

hr {
	background-color: lightblue;
	height: 5px;
}

form {
	padding: 5px;

}

form input {
	padding: 0px 0px;
}

#welcome {
	padding: 30px;
  display: flex;
  flex-direction: column;

}

#welcome p {
	padding: 30px 30px 30px 0px;
	width: 300px;


}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    position: relative;
    top: : 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.navitem {
    float: left;
}

.navitem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navitem:hover {
    background-color: #333;
}

.active {
	background-color: lightblue;
}

.portfolio {
	padding: 20px;
	margin: 0px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

 .image:hover {
	opacity: 0.3;

}

.formHeader {
	padding: 25px;

}

.inputHeader {
	padding: 15px 0px;
}

#contactForm {
	position: relative;
	margin: 25px;
}

.submitBut {
	margin-t
}

.image {
	width: auto;

}

.facts, .favs{
		padding: 30px;
    margin: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: black;

	}
